.gradient-background {
  background: linear-gradient(#fcb6b6, #7a83e2, #cce0bc);
  width: 100%;
  height: 100vh;
}

.team-block {
  max-width: 185px;
}

.team-block .team-item {
  cursor: pointer;
}

.team-item .thumbnail {
  filter: grayscale(1);
  transition: 0.3s;
}

.team-item:hover .thumbnail {
  filter: grayscale(0);
}

.text-gradient {
  background: linear-gradient(90deg, #d1aad7, #c88bc4 25%, #7b8fdd 50%, #86bff2 74.87%, #bbdef2 99.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
