.text-transform-gradient {
  background: linear-gradient(
    90deg,
    #d1aad7,
    #c88bc4 25.17%,
    #7b8fdd 50%,
    #86bff2 73.09%,
    #bbdef2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  transform-style: preserve-3d;
  transform-origin: 40px 40px 0;
}

.cubespinner div {
  position: absolute;
  width: 150%;
  height: 80px;
  text-align: left;
}
.cubespinner .face1 {
  transform: translateZ(40px);
  -webkit-backface-visibility: hidden;
}
.cubespinner .face2 {
  transform: rotateX(120deg) translateZ(40px);
  -webkit-backface-visibility: hidden;
}
.cubespinner .face3 {
  transform: rotateX(240deg) translateZ(40px);
  -webkit-backface-visibility: hidden;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg);
  }
  0%,
  25% {
    transform: rotateX(0deg);
  }
  33%,
  58% {
    transform: rotateX(120deg);
  }
  66%,
  92% {
    transform: rotateX(240deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.simple-form_will__change__3oMEj {
  will-change: transform, opacity;
}

.bg-gradient-x {
  background: linear-gradient(
    90deg,
    #d1aad7,
    #c88bc4 25%,
    #7b8fdd 50%,
    #86bff2 74.87%,
    #bbdef2 99.88%
  );
}

input-email::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

input-email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

input-email::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* width */
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 8px;
}
